body{   background-color: rgb(134, 145, 158);
        
    }

.articlestyle{  background: whitesmoke;
                border-radius: 4px;
                padding: 50px 50px 50px 50px;
                width: 1200px;
                box-shadow: 2px 2px 12px grey; 
                margin: 250px;
            }

#float-left-header{ float: left;}
#float-right-header{ float: right;}
#titletext{ text-align: center;
            font-size: 150px;
            border-bottom: 5px solid black;
            margin: 0px;
             }

.firstpa{
            width: 400px;
            float: left;
            }

.rightpics{ float: right;
            padding-top: 15px;
    } 

.secondpa{  display: inline-block;
            }

 #pilotpic{     width: 300px;
                height: 500px;
            }

#highfivepic{   width: 300px;
                height: 500px;
            }

#teamworkpic{   width: 500px;
                height: 200px;
            }

#computerpic{   width: 290px;
                height: 250px;}

#conclusion{    width: 900px;
                float: right;}

.footer{    float: right;}

span{   
    color: lightgrey;
}







            

